.our-contacts {
  position: relative;
}

.our-contacts__container {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-right: 20px;
  padding-left: 20px;

  &.our-contacts__container--inner {
    background: #f2f2f2;

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 56px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-right: 80px;
    padding-left: 80px;
    left: 110px;
    top: 95px;
  }
}

.our-contacts__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  width: 139px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 87px;
  }
}

.our-contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 139px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
  }
}

.our-contacts__street {
  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 19px;
  }
}

.our-contacts__map {
  display: block;
  border: none;
}
