.our-contacts {
  .our-contacts__title {
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
  }

  .our-contacts__address {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
}
