.page-inner__container {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }

  &.page-inner__container--form {
    @media (min-width: $tablet-width) {
      width: 82%;
      max-width: 810px;
    }

    @media (min-width: $desktop-width) {
      width: 84.7%;
      max-width: 1220px;
    }
  }
}
