.selection {
  padding-top: 28px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;
  border-bottom: 1px solid #d9d9d9;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding: 29px 28px;
    border: 1px solid #d9d9d9;
    row-gap: 23px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.selection__radio:checked + .selection__mark-container .selection__mark::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background: #68b738;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.selection__control {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  padding-left: 45px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }
}

.selection__mark {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  &:hover {
    border: 1px solid #bababa;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.selection__radio:focus-visible + .selection__mark-container .selection__mark {
  border: 1px solid #68b738;
}

.selection__radio:disabled + .selection__mark-container {
  opacity: 0.3;
}
