.form {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 64px;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    padding-top: 74px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.form__wrapper--dispatch {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 0;
  }
}

.form__container {
  margin-bottom: 26px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 70px;
  }
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  color: $hightlight-color;
  font-weight: normal;
  margin: 0;
  margin-bottom: 37px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $hightlight-color;
  width: 230px;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
    width: 330px;
    margin-right: auto;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 73%;
  }
}

.form__dispatch {
  font-family: "Oswaldregular", sans-serif;
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  padding: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 22px;
  width: 100%;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 1px #68b738, inset 0 0 0 3px #ffffff;
  }

  &:active {
    color: fade-out(#ffffff, 0.3);
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    padding: 13px 0;
    margin: 0;
    margin-right: 62px;
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin: 0;
    margin-right: 82px;
  }
}

.form__clarification {
  display: block;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: $hightlight-color;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }
}
