.main-navigation {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.main-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Oswaldmedium", sans-serif;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 32px;
    font-family: "Oswaldregular", sans-serif;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-top: 50px;
    font-family: "Oswaldregular", sans-serif;
  }
}

.main-navigation__link {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  color: $hightlight-color;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
  }
}

.main-navigation__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
