.page-main__container {
  width: 87.5%;
  margin: 0 auto;
  max-width: 330px;

  @media (min-width: $tablet-width) {
    width: 92.2%;
    max-width: 810px;
  }

  @media (min-width: $desktop-width) {
    width: 84.7%;
    max-width: 1220px;
  }
}
