.page-main {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      width: 50%;
      top: 0;
      right: 0;
      height: 694px;
      background: rgba(104, 183, 56, 0.85);
      z-index: -2;
    }
  }
}

.page-main__container {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 71px;
  }
}
