.footer {
  background: #f2f2f2;
}

.footer__container {
  display: flex;
  flex-direction: column;
  width: 87.5%;
  margin: 0 auto;
  max-width: 330px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 92.2%;
    margin: 0 auto;
    max-width: 810px;
  }

  @media (min-width: $desktop-width) {
    width: 84.7%;
    margin: 0 auto;
    max-width: 1220px;
  }
}

.footer__link {
  display: block;
  text-decoration: none;
  margin-bottom: 50px;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}
