.products {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 324px);
    row-gap: 140px;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    row-gap: 140px;
    column-gap: 80px;
  }
}

.products__item {
  display: grid;
  grid-template-columns: 140px 1fr;
  border-top: 2px solid #ebebeb;
  margin-bottom: 25px;
  padding-bottom: 14px;
  padding-top: 20px;
  row-gap: 17px;

  @media (min-width: $tablet-width) {
    background: #f2f2f2;
    grid-template-columns: 1fr;
    padding: 0 36px;
    padding-bottom: 40px;
  }
}

.products__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  padding-right: 26%;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding: 0 35px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.products__img {
  align-self: flex-end;
  justify-self: center;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products__termin {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: start;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.products__discription {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: end;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.products__text-show-more {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  font-stretch: ultra-condensed;
  text-align: center;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.products__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.products__link-show-more {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  align-self: end;
  color: $base-font-color;
}

.products__link--order {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  grid-column: 1/-1;
  align-self: end;
}

.products__item--show-more {
  grid-template-columns: 1fr;
  row-gap: 0;

  @media (min-width: $tablet-width) {
    border: 2px solid #f2f2f2;
    box-sizing: border-box;
    background-color: #ffffff;
  }
}
