.catalog-products {
  padding-top: 27px;
}

.catalog-products__title {
  font-size: 32px;
  line-height: 36px;
  font-stretch: ultra-condensed;
  color: $hightlight-color;
  margin: 0;
  margin-bottom: 40px;
}
