.goods {
  margin: 0;
  list-style: none;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    border-top: none;
    margin: 0;
    padding: 0;
  }
}

.goods__item {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 13px;
  margin-bottom: 20px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    border: 1px solid #cdcdcd;
    border-top: none;
    margin: 0;
    padding-bottom: 28px;
    padding-right: 38px;
    padding-left: 38px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 324px 1fr 244px;
    border: none;
    border-top: 1px solid #cdcdcd;
    margin: 0;
    padding: 0;
  }
}

.goods__item:first-child {
  @media (min-width: $tablet-width) {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }
}

.goods__item:last-child {
  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.goods__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    margin-top: 26px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 24px;
    margin-bottom: 27px;
  }
}

.goods__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-top: 29px;
    grid-template-columns: 1fr 90px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 82px;
    margin-top: 27px;
    margin-bottom: 24px;
  }
}

.goods__termin {
  justify-self: start;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.goods__discription {
  justify-self: end;

  @media (min-width: $desktop-width) {
    justify-self: start;
    margin: 0;
  }
}

.goods__link--order {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding: 9.5px 0;
  text-align: center;
  text-decoration: none;
  align-self: end;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    border: 1px solid #cdcdcd;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: auto;
    margin-top: 15px;
    margin-bottom: 16px;
  }
}
