.present {
  background-color: rgb(80, 150, 10);

  .present__text {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}
