.header {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 820px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    margin: 0;
  }
}

.header__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin: 0 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1250px;
  }
}

.header__container--inner {
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.header__logo {
  display: block;
  height: 65px;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px #68b738;
    outline: none;
    box-sizing: border-box;
  }

  &:active {
    opacity: 0.6;
    border: none;
  }

  @media (min-width: $tablet-width) {
    height: auto;
  }

  @media (min-width: $desktop-width) {
    height: 60px;
    margin-top: 53px;
    margin-left: 15px;
  }
}

.header__logo-img {
  display: block;
  margin-top: 10px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 51px;
    margin-left: 15px;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
    margin: 0;
  }
}
