.stats {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 14px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    padding-bottom: 72px;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.stats__container {
  display: flex;
}

.stats__label-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 15px;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 18px;
  }
}

.stats__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  padding: 12px 14px;
  font-family: "Oswaldregular", sans-serif;
  outline: none;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  height: 45px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
    padding: 11px 13px;

    @media (min-width: $tablet-width) {
      padding: 11px 17px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
    padding: 12px 18px;
  }
}
