.stats {
  .stats__label-text {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .stats__text {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
