.additionally {
  margin-bottom: 41px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -2;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.additionally__wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.additionally__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
    padding-left: 70px;
    padding-right: 70px;
    column-gap: 58px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.additionally__title {
  display: inline-block;
  font-size: 24px;
  line-height: 26px;
  color: $hightlight-color;
  margin: 0;
  font-weight: normal;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 62px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}

.additionally__checkbox:checked + .additionally__mark::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background: url("../img/check-mark-mobile.svg") center no-repeat;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    background: url("../img/check-mark-tablet.svg") center no-repeat;
  }
}

.additionally__control {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  padding-left: 45px;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }
}

.additionally__mark {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  &:hover {
    border: 1px solid #bababa;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.additionally__checkbox:focus-visible + .additionally__mark {
  border: 1px solid #68b738;
}
