.additionally {
  .additionally__title {
    font-size: 24px;
    line-height: 26px;
    color: $hightlight-color;
  }

  .additionally__label-checkbox {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $hightlight-color;
  }
}
